/*Fonts*/

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/*Variables*/

:root {
  --black: #000000;
  --dark: #363636;
  --gray: #464646;
  --half-gray: #7e7e7e;
  --light-gray: #e5e5e5;
  --white: #ffffff;

  --yellow: #f0c52e;
  --yellow-light: #f7e296;
  --green: #91c92f;

  --pink-light: #f6dada;

}

/*Global*/

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  min-width: 1200px;
  min-height: 100%;

  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--black);

  background-color: var(--white);
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

.page input::-webkit-search-decoration,
.page input::-webkit-search-cancel-button,
.page input::-webkit-search-results-button,
.page input::-webkit-search-results-decoration {
  display: none;
}

/*button*/

.button {
  position: relative;

  width: 160px;
  padding: 9px 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;

  border: none;
  outline: none;

  cursor: pointer;

  background-color: transparent;
}

.button::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  width: 100%;
  height: 8px;

  transform: translateY(-50%);

  background-color: var(--yellow);

}

.button:hover::after {
  height: 100%;

  transition: height 0.3s;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*visually-hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/*header*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.container--header {
  padding: 0;
}

.main-header {
  padding-bottom: 164px;

  background-color: var(--yellow-light);
}

.main-header--margin {
  margin-top: 40px
}

.main-nav {
  position: relative;

  display: grid;

  margin: 0 60px;
}

.main-nav__logo {
  justify-self: start;

  margin-top: -20px;
  margin-bottom: 14px;

  cursor: pointer;
}

.main-nav__logo img {
  display: block;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.main-nav__company-list li:first-child {
  letter-spacing: 0.1em;
}

/*nav-list*/


  /*user list*/
.user-list {
  display: grid;
  grid-template-columns: 540px repeat(3, max-content);
  align-items: center;

  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;

  list-style: none;
}

.user-list__form {
  position: relative;

  display: flex;
}

.user-list__search-label {
  order: -1;

  position: relative;

  width: 38px;

  outline: none;

  background-color: transparent;
  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.user-list__search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-list__search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-list__search {
  position: relative;

  width: 320px;
  height: 50px;
  padding: 0;

  font: inherit;

  border: none;
  outline: none;

  background-color: transparent;
}

.user-list__search-label::before {
  content: "";

  position: absolute;
  bottom: 0;

  display: none;
  width: 400px;
  height: 2px;

  background-color: var(--black);
}

.user-list__search:focus ~ .user-list__search-label::before,
.user-list__search-button:active + .user-list__search-label::before {
  display: block;
}

.user-list__search-button {
  display: none;

  width: 84px;
  padding: 0;
  font: inherit;
  text-transform: uppercase;

  border: 2px solid var(--black);
  outline: none;
  background-color: transparent;
}

.user-list__search:focus ~ .user-list__search-button {
  display: block;
}

.user-list__search-button:hover {
  color: var(--white);

  background-color: var(--black);
}

.user-list__search-button:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);

  background-color: var(--black);
}

.user-list li:nth-child(2) {
  margin-right: 215px;
}

.user-list li:nth-child(3) {
  margin-right: 42px;
}

.user-list--footer li:nth-child(2) {
  margin-right: 0;
}

.user-list--footer li:nth-child(3) {
  margin-right: 0;
}

.footer-nav-user__link {
  position: relative;

  display: block;
  padding-left: 24px;

  color: rgba(255, 255, 255, 0.7);
}

.footer-nav-user__link::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

.footer-nav-user__link--sign-in::before {
  width: 13px;
  height: 14px;

  background-image: url("../img/icon_user.svg");
}

.footer-nav-user__link--compare::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/icon_chart.svg");
}

.footer-nav-user__link--cart::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/icon_cart.svg");
}

.footer-nav-user__link--sign-in-inner-page::before {
  background-image: url("../img/icon_user-catalog.svg");
}

.footer-nav-user__link:hover::before {
  opacity: 0.6;
}

.footer-nav-user__link:active::before {
  opacity: 0.3;
}

.user-list__link {
  position: relative;
}

.user-list__link--user {
  padding-left: 24px;
}

.user-list__link--compare {
  padding-left: 26px;
}

.user-list__link--cart {
  padding-left: 22px;
}

.user-list__link::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  transform: translateY(-50%);
}

.user-list__link:hover::before {
  opacity: 0.6;
}

.user-list__link:active::before {
  opacity: 0.3;
}

.user-list__link--user::before {
  width: 13px;
  height: 14px;

  background-image: url("../img/icon_user-h.svg");
}

.user-list__link--compare::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/icon_chart-h.svg");
}

.user-list__link--cart::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/icon_cart-h.svg");
}

.user-list--footer {
  grid-template-columns: repeat(3, min-content);
  column-gap: 40px;

  margin-bottom: 73px;
}

.main-nav__user-list {
  margin-bottom: 35px;
}

.user-list--catalog-view li:nth-child(3) {
  opacity: 0.3;
}

/*company-list*/

.company-list {
  display: grid;
  grid-template-columns: repeat(4, max-content);

  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  list-style: none;
}

.company-list--footer {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
}

.user-list a,
.company-list a {
  color: inherit;
}

.user-list a:hover,
.company-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-list a:active,
.company-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-list--opacity-white a {
  color: rgba(255, 255, 255, 0.7);
}

.user-list--opacity-white a:hover {
  color: rgb(255, 255, 255);
}

.user-list--opacity-white a:active {
  color: rgba(255, 255, 255, 0.3);
}

.company-list--white a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.company-list--white a:active {
  color: rgba(255, 255, 255, 0.3);
}

.company-list__catalog-link {
  position: relative;

  padding-right: 38px;

  letter-spacing: 0.2em;
}

.company-list__catalog-link::after {
  content: "";

  position: absolute;
  top: 1px;
  right: 3px;

  width: 22px;
  height: 22px;

  background-image: url("../img/icon_plus.svg");
}

.company-list__item--catalog {
  margin-right: 283px;
}

.company-list li:nth-child(2) {
  margin-right: 36px;
}

.company-list li:nth-child(3) {
  margin-right: 107px;
}

.company-list--footer li:nth-child(2) {
  margin-right: 0;
}

.company-list--footer li:nth-child(3) {
  margin-right: 0;
}

.catalog-list {
  position: absolute;
  z-index: 1;

  display: none;
  grid-template-areas:
              "one four six"
              "two five ."
              "three . .";
  grid-template-columns: repeat(3, max-content);
  row-gap: 15px;
  column-gap: 63px;

  width: 100%;
  padding: 33px 0 40px 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: none;

  list-style: none;
  background-color: var(--yellow-light);
}

.company-list__item--catalog:hover .catalog-list {
  display: grid;
}

.catalog-list li:first-child {
  letter-spacing: normal;
}

.catalog-list li:nth-child(2) {
  margin-right: 0;
}

.catalog-list li:nth-child(3) {
  margin-right: 0;
}

.catalog-list__item--1 {
  grid-area: one;
}

.catalog-list__item--2 {
  grid-area: two;
}
.catalog-list__item--3 {
  grid-area: three;
}
.catalog-list__item--4 {
  grid-area: four;
}
.catalog-list__item--5 {
  grid-area: five;
}
.catalog-list__item--6 {
  grid-area: six;
}

/*promo-slider*/

.promo-slider {
  position: relative;

  font-weight: 800;
}

.promo-slider--margin {
  margin-top: -128px;
  margin-bottom: 116px;
}

.promo-slider__item {
  position: relative;

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
}

.promo-slider__item--2, .promo-slider__item--3 {
  display: none;
}

.promo-slider__img {
  grid-row-start: 1;
  grid-row-end: -1;

  padding-left: 89px;
}

.promo-slider__number {
  font-size: 179px;
  line-height: 219px;
}

.promo-slider__text-title {
  margin: 0 0 26px 0;

  padding: 92px 169px 0 21px;

  font-size: 47px;
  line-height: 58px;
}

.promo-slider__item::before {
  content: "";

  position: absolute;
  top: 32px;
  right: 460px;

  width: 100px;
  height: 7px;

  background-color: var(--white);
}

.promo-slider__item::after {
  content: "";

  position: absolute;
  top: -20px;
  right: 47px;

  width: 182px;
  height: 170px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 219px;
  font-weight: 800;
  color: var(--white);

  background-color: transparent;
}

.promo-slider__item--1::after {
  content: "01";
}

.promo-slider__item--2::after {
  content: "02";
}

.promo-slider__item--3::after {
  content: "03";
}

.promo-slider__text {
  margin: 0 0 52px 0;
  padding-left: 21px;
  padding-right: 75px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

.promo-slider__more {
  position: relative;
  box-sizing: border-box;

  width: 220px;
  margin-bottom: 53px;
  margin-left: 22px;
  padding: 8px 42px;
}

.promo-slider__table {
  font-weight: 300;
  letter-spacing: 0.1em;

  border-collapse: collapse;
  border-spacing: 0;
}

.promo-slider__table th {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  text-align: left;
}

.promo-slider__table td {
  font-size: 13px;
  line-height: 15px;
}

.promo-slider__table--1 {
  width: 444px;
  margin-left: 20px;
}

.promo-slider__table--1 th:nth-child(1),
.promo-slider__table--1 td:nth-child(1) {
  width: 100px;
  padding: 0;

  text-align: left;
}

.promo-slider__table--1 th:nth-child(2),
.promo-slider__table--1 td:nth-child(2) {
  width: 197px;
  padding: 0;

  text-align: center;
}

.promo-slider__table--1 th:nth-child(3),
.promo-slider__table--1 td:nth-child(3) {
  width: 147px;
  padding: 0;
}

.promo-slider__table--1 td:nth-child(1),
.promo-slider__table--1 td:nth-child(2),
.promo-slider__table--1 td:nth-child(3) {
  padding-top: 15px;
}

.promo-slider__controls {
  position: absolute;

  right: 107px;
  bottom: 136px;

  margin: 0;
}

.promo-slider__controls button {
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: 1px solid var(--black);
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
}

.promo-slider__controls button:not(:last-child) {
  margin-right: 14px;
}

/*Product categories*/

.product-categories--margin {
  margin-bottom: 184px;
}

.product-categories__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.product-categories__item {
  width: 160px;
}

.product-categories__link {
  position: relative;

  display: block;

  padding-top: 196px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: inherit;
}

.product-categories__link--2 {
  padding-right: 36px;
}

.product-categories__link--4 {
  letter-spacing: normal;
}

.product-categories__link::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: var(--yellow-light);
}

.product-categories__link::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: center;
}

.product-categories__link--1::after {
  background-image: url("../img/popular-1.svg");
}

.product-categories__link--2::after {
  background-image: url("../img/popular-2.svg");
}

.product-categories__link--3::after {
  background-image: url("../img/popular-3.svg");
}

.product-categories__link--4::after {
  background-image: url("../img/popular-4.svg");
}

.product-categories__link--5::after {
  background-image: url("../img/popular-5.svg");
}

.product-categories__link--6::after {
  background-image: url("../img/popular-6.svg");
}

.product-categories__link:hover::before {
  background-color: var(--yellow);

  transition: background-color 0.3s;
}

.product-categories__list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-categories__link:active::after {
  opacity: 0.3;
}

/*services-slider*/

.services-slider {
  background-color: var(--light-gray);
}

.services-slider--margin {
  margin-bottom: 90px;
}

.services-slider__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.services-slider__controls {
  position: relative;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: 21px;

  width: 284px;
  margin: -20px 0 0 0;
  padding: 0 0 144px 0;

  list-style: none;
}

.services-slider__controls::after {
  content: "";

  position: absolute;
  top: -80px;
  right: 0;

  width: 7px;
  height: 320px;

  background-color: var(--black);
}

.services-slider__button {
  position: relative;
  z-index: 1;

  width: 160px;
  padding: 9px 0;

  cursor: pointer;

  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;

  border: none;
  outline: none;

  background-color: transparent;
}

.services-slider__button::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  width: 100%;
  height: 8px;

  transform: translateY(-50%);

  background-color: var(--yellow);
}

.services-slider__button:hover::before {
  height: 100%;

  transition: height 0.3s;
}

.current {
  background-color: var(--black);
}

.current .services-slider__button {
  color: var(--yellow-light);
}

.current .services-slider__button::before,
.current .services-slider__button:hover::before {
  background-color: transparent;
}

.services-slider__item {
  position: relative;

  margin: -29px 0 0 0;

  padding-left: 14px;
}

.services-slider__item::after {
  content: "";

  position: absolute;

  background-repeat: no-repeat;
}

.services-slider__item--1:after {
  top: 0;
  right: 0;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery 2.svg");
}

.services-slider__item--2,
.services-slider__item--3 {
  display: none;
}

.services-slider__item-title {
  margin: 0 0 40px 0;

  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.services-slider__item-text {
  margin: 0;
  padding-right: 220px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

/*contribution*/

.contribution--margin {
  margin-bottom: 90px;
}

.contribution__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.contribution__item {
  position: relative;

  cursor: pointer;
}

.contribution__item:hover::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 260px;
  height: 100px;
}

.contribution__item--1:hover::after {
  background-image: url("../img/logo-1.png");
}

.contribution__item--2:hover::after {
  background-image: url("../img/logo-2.png");
}

.contribution__item--3:hover::after {
  background-image: url("../img/logo-3.png");
}

.contribution__item--4:hover::after {
  background-image: url("../img/logo-4.png");
}

/*contacts*/

.wrapper-for-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts {
  position: relative;

  display: grid;
  grid-template-rows: repeat(4, min-content);
}

.contacts::before {
  content: "";

  position: absolute;
  top: -3px;

  width: 80px;
  height: 7px;

  background-color: var(--black);
}

.contacts:last-child::before {
  left: 20px;
}

.contacts:first-child .contacts__text {
  padding-right: 102px;
}

.contacts:last-child {
  padding-left: 20px;
}

.contacts__title {
  margin: 0 0 40px 0;
  padding-top: 53px;

  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.contacts__text {
  margin: 0 0 40px 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
}

.contacts__text + .contacts__text {
  margin-bottom: 60px;
}

.contacts__delivery-list {
  display: grid;
  grid-template-rows: min-content;

  margin: 0 0 67px 0;
  padding-left: 32px;

  font-size: 16px;
  line-height: 28px;
  font-weight: 800;

  list-style: none;
}

.contacts__delivery-list li {
  position: relative;
}

.contacts__delivery-list li::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -32px;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  transform: translateY(-50%);

  border: 2px solid var(--light-gray);
  border-radius: 25px;
}

.contacts__delivery-list li:not(:last-child) {
  margin-bottom: 15px;
}

.contacts__delivery-list a {
  color: inherit;
}

.contacts__map {
  margin-bottom: 75px;
}

.contacts__map img {
  display: block;
}

.contacts > a:last-child {
  margin-bottom: 79px;
}

.button--contacts-more,
.button--contacts-mail-to {
  width: 260px;
}

/*Footer*/

.main-footer {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: var(--white);

  background-color: var(--dark);
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.main-footer__inner-wrapper:last-of-type {
  display: grid;
  grid-template-rows: repeat(3, min-content);

  padding-top: 46px;
}

.main-footer__inner-wrapper:first-of-type {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 67px;

  padding-top: 139px;
  padding-bottom: 66px;
}

/*Find-us*/

.find-us {
  position: relative;

  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 38px;

  padding-top: 64px;
}

.find-us::before {
  content: "";

  position: absolute;
  bottom: 80px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--yellow);
}

.find-us__text {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
}

/*footer-nav-company*/

.footer-nav-company {
  justify-self: end;

  margin-right: 38px;
}

.footer-nav-company--inner-page {
  margin-right: 70px;
}

/*social*/

.social {
  justify-self: center;

  padding-left: 45px;
}

.social--inner-page {
  padding-left: 0;
}

.social__list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  color: inherit;
}

.social__link::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  opacity: 0.6;
}

.social__link--facebook::before {
  background-image: url("../img/icon_facebook.svg");
}

.social__link--insta::before {
  background-image: url("../img/icon_instagram.svg");
}

.social__link--twitter::before {
  background-image: url("../img/icon_witter.svg");
}

.social__link:hover::before {
  opacity: 0.9;
}

.social__link:active::before {
  opacity: 0.3;
}

/*footer-nav-user*/

.footer-nav-user {
  justify-self: end;
}

/*footer-contacts*/

.footer-contacts {
  display: grid;

  margin: 0;
}

.footer-contacts a:first-child {
  margin-bottom: 67px;
  padding-top: 3px;

  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-contacts a {
  justify-self: end;

  color: inherit;
}

.footer-contacts img:hover {
  opacity: 0.6;

  transition: opacity 0.3s;
}

.footer-contacts img:active {
  opacity: 0.3;

  transition: opacity 0.3s;
}

/*Catalog*/

/*header*/

.main-header--inner-page {
  margin-bottom: 44px;
  padding-bottom: 50px;
}

/*user-list*/

.user-list--catalog-view {
  grid-template-columns: 540px repeat(4, max-content);
}

.user-list--catalog-view li:nth-child(2) {
  margin-right: 24px;
}

.user-list--catalog-view li:nth-child(3) {
  margin-right: 61px;
}

.user-list--catalog-view li:nth-child(4) {
  margin-right: 41px;
}

.catalog-list--inner-page {
  left: -60px;

  box-sizing: border-box;
  width: 1160px;
  padding-left: 79px;
}

.user-list--footer-catalog {
  grid-template-columns: repeat(4, min-content);
}

.user-list--footer-catalog li:first-child {
  white-space: nowrap;
}

.user-list__item-catalog:first-child ~ .user-list__item-catalog:not(:last-child) {
  margin-right: 40px;
}

.user-list__item-catalog:first-child {
  margin-right: 25px;
}

/*page-title*/

.wrapper-for-breadcrumbs {
  padding-left: 143px;
}

.page-title {
  margin: 0 0 30px 0;

  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
}

/*main-content*/

.main-content--background-wrapper-for-sort-catalog {
  background-image: linear-gradient(to right, var(--light-gray) 0%,
                                              var(--light-gray) 28%,
                                              var(--white) 28%,
                                              var(--white) 100%);
}

/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  justify-content: flex-start;

  margin: 0 0 50px 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  list-style: none;
}

.breadcrumbs a {
  display: block;
}

.breadcrumbs a,
.breadcrumbs li:last-child {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
  position: relative;

  padding-right: 26px;
}

.breadcrumbs a:after {
  content: "";

  position: absolute;

  right: 0;
  top: 50%;

  width: 12px;
  height: 12px;

  transform: translateY(-50%);

  background-image: url("../img/icon_arrow_nav.svg");
}

.breadcrumbs li:not(:last-child) {
  margin-right: 14px;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/*filter-header*/

.filter-header {
  width: 268px;
  padding: 25px 0 25px 60px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color: #dcdcdc;
}
/*sort*/

.sort {
  background-image: linear-gradient(to right, #dcdcdc 0, #dcdcdc 28%, var(--light-gray) 28%, var(--light-gray) 100%);
}

.sort__wrapper {
  display: flex;
}

.sort__wrapper-for-sort {
  display: flex;
  justify-content: space-between;
  width: 832px;
}
.sort__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding-left: 72px;

  list-style: none;
}

.sort__item span {
  margin-right: 74px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort__item:not(:last-child) a {
  margin-right: 30px;
}

.sort__item a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;

  color: inherit;
}

.sort__item:nth-child(2) ~ .sort__item {
  color: rgba(0, 0, 0, 0.3)
}

.sort__item:not(:nth-child(2)) a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort__item:not(:nth-child(2)) a:active {
  color: rgba(0, 0, 0, 1);
}

.sort__buttons {
  display: flex;
  align-items: center;

  margin: 0;
}

.sort__buttons button {
  position: relative;

  width: 17px;
  height: 18px;
  padding: 0;

  border: none;
  outline: none;

  background-color: transparent;

  cursor: pointer;
}

.sort__buttons button:first-child {
  margin-right: 18px;
}

.sort__buttons button:disabled {
  opacity: 0.3;
}

.sort__buttons button:first-child::after,
.sort__buttons button:last-child::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  background-image: url("../img/icon-up-dir.svg");
}

.sort__buttons button:last-child::after {
  background-image: url("../img/icon-down-dir.svg");
}

/*filter*/

.wrapper-for-catalog-and-filter {
  display: grid;
  /*grid-template-columns: 323px auto auto;*/
  grid-template-rows: 1fr min-content min-content;
}

.filter {
  grid-row-start: 1;
  grid-row-end: -1;

  width: 328px;

  background-color: var(--light-gray);
}

/*mono-pods*/

.mono-pods {
  width: 832px;

  background: var(--white);
}

.mono-pods__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;

  margin: 0 0 40px 0;

  padding-top: 70px;
  padding-left: 72px;

  list-style: none;
}

.mono-pods__item {
  position: relative;
}

.mono-pods__img-wrapper {
  margin: 0 0 30px 0;
}

.mono-pods__img-wrapper img {
  display: block;
}

.mono-pods__buttons {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;


  display: flex;
  flex-direction: column;
  align-items: center;

  width: 360px;
  height: 380px;

  margin: 0;

  background-color: rgba(238, 238, 238, 0);
}

.mono-pods__buttons:hover {
  background-color: rgba(238, 238, 238, 0.7);

  transition: background-color 0.3s;
}

.mono-pods__buttons button {
  cursor: pointer;

  opacity: 0;
}

.mono-pods__buttons:hover button {
  opacity: 1;

  transition: opacity 0.3s;
}

.button--in-cart {
  width: 200px;
}

.mono-pods__buttons button:first-child {
  margin-top: auto;
  margin-bottom: 22px;
}

.mono-pods__buttons button:last-child {
  margin-bottom: 138px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.5);

  border: none;
  outline: none;
  background-color: transparent;
}

.mono-pods__buttons button:last-child:hover {
  color: var(--black);
}

.mono-pods__buttons button:last-child:active {
  color: rgba(0, 0, 0, 0.2);
}

.mono-pods__text {
  margin: 0;
}

.mono-pods__text a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.mono-pods__text span:first-child {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--black);
}

.mono-pods__text span:last-child {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--black);
}

/*pagination*/

.pagination {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-start: -2;
  grid-row-end: -1;

  padding: 25px 30px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color: #EBEBEB;
}

.pagination--margin {
  margin-bottom: 78px;
  margin-left: 72px;
}

.pagination__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 28px;

  justify-self: center;

  margin: 0;
  padding: 0 0 0 7px;

  list-style: none;
}

.pagination a {
  color: inherit;
}

.pagination__back-button {
  justify-self: start;
}

.pagination__list a[href] {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__list a[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__list a[href]:active {
  color: rgba(0, 0, 0, 1);
}

.pagination > a[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination > a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__forward-button {
  justify-self: end;
}

/*footer*/

.main-footer__wrapper-catalog {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr 2fr 1fr;
}

.main-footer__inner-wrapper--catalog:first-of-type {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;

  padding-top: 0;
}

/*find-us*/

.find-us--catalog {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  row-gap: 0;
}

.find-us--catalog::before {
  bottom: -107px;
}

.find-us__text--catalog {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

/*footer-nav-user*/

.footer-nav-user--catalog {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  justify-self: end;

  margin-bottom: 71px;
  padding-top: 46px;
}

/*footer-contacts*/

.footer-contacts--catalog {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;

  grid-template-rows: repeat(2, min-content);
}

/*modal*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  display: none;

  margin: auto;
}

.modal-write-us {
  display: none;
  box-sizing: border-box;
  width: 960px;
  height: 550px;
  padding: 92px 100px 69px 100px;

  background-color: var(--white);
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 55px;
  height: 55px;
  padding: 0;

  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--yellow-light);

  opacity: 0.5;
  cursor: pointer;
}

.modal__close-button::before,
.modal__close-button::after {
  content: "";

  position: absolute;
  top: 26px;
  left: 14px;

  width: 50%;
  height: 2px;

  background-color: var(--white);
}

.modal__close-button::after {
  transform: rotate(-45deg);
}

.modal__close-button::before {
  transform: rotate(45deg);
}

.form-write-us {
  display: flex;

  flex-direction: column;
}

.form-write-us__wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;
}

.form-write-us__info {
  display: flex;
  flex-direction: column;

  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.4)
}

.form-write-us__wrapper input {
  box-sizing: border-box;
  width: 360px;

  padding: 16px 0 15px 20px;

  color: inherit;

  border: 0;
  outline: none;

  background-color: #F2F2F2;
}

.form-write-us__info label {
  margin-bottom: 10px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;

  color: var(--black);
}

.form-write-us textarea::placeholder,
.form-write-us input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.form-write-us textarea {
  box-sizing: border-box;
  width: 760px;
  height: 168px;
  padding: 16px 0 132px 20px;

  background-color: #F2F2F2;

  border: none;
  outline: none;
  resize: none;
}

.form-write-us__info:only-of-type {
  margin-bottom: 54px;
}

.form-write-us__button {
  width: 200px;
}

.button--form-write-us::after {
  background-color: var(--yellow-light);
}

.modal-map {
  width: 994px;
  height: 593px;
}

.modal-map .modal__close-button {
  top: 29px;
  right: 36px;
}

.modal-show {
  display: block;
}

